[package]
name = "pess-os"
version = "0.1.0"
authors = ["Philipp Oppermann <dev@phil-opp.com>", "Henry Moore <henrydmoore23@gmail.com>"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
bootloader = { version = "0.9.8" }

